

hl_red{
  color: #CF0A0A;
  background-color: transparent;
  font-weight: bold; 
}


html{
  color: #333333; 
  background-color: #CCCCCC; 
  font-family: Arial, sans-serif; 
  font-size: 16px;
  margin: 0 auto;  
  height: 100%; 
  min-height: 100%;
  width: 100%;
  max-width: 1080px;
  padding: 0;
  line-height:150%
}
